.card-p{
    button{
        width: 100%;
        background-color: burlywood;
        border: none;
        cursor: pointer;
        color: white;
    }
  height: 300px;
}
@media (max-width:992px) {
    .card-p{
        
        img{
            height: 200px!important;
        }
    }

    
}

@media (max-width:756px) {
    .card-p{
       img{
          height: 200px!important;
       }
      
    }

    
}