@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;


.table {
	width:100%;
	border:1px solid $color-form-highlight;
}

.table-header {
	display:flex;
	// width:100%;
	background:#000;
	padding:($half-spacing-unit * 1.5) 0;
}

.table-row {
	display:flex;
	// width:100%;
	padding:($half-spacing-unit * 1.5) 0;
	
	&:nth-of-type(odd) {
		background:$color-form-highlight;
	}
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
	
}

.header__item {
	text-transform:uppercase;
	color: white;
	padding:($half-spacing-unit * 1.5) 0;
}

.filter__link {
	// color:white;
	color: white!important;
	background-color: transparent!important;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:$base-spacing-unit;
	padding-right:$base-spacing-unit;
	
	&::after {
		content:'';
		position:absolute;
		right:-($half-spacing-unit * 1.5);
		color:white;
		font-size:$half-spacing-unit;
		top: 50%;
		transform: translateY(-50%);
	}
	
	&.desc::after {
		content: '(desc)';
	}

	&.asc::after {
		content: '(asc)';
	}
	
}

.modalform{
	input{
		width: 100%;
		border-radius: 10px;
		border: none;
		padding: 5px 5px;
		margin-top:5px;
	}
}
.modalbox{
	padding: 20px!important;
	background: #ede574; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ede574, #e1f5c4); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ede574, #e1f5c4); 
     max-height: 100vh;
	width: 40%!important;
	border-radius: 30px!important;
	border: none!important;
}



.buttonimage{
	border: none;
	padding: 5px 10px;
	background-color: rgb(99, 148, 25);
	color: white;
	width: 30%;

}

@media (max-width:758px) {
	.table{
		overflow-x:scroll!important;	
	}

}
@media (max-width: 568px) {
    .table-header, .table-row {
        flex-direction: column;
    }
    .header__item, .table-data {
        flex: 1 1 100%;
        text-align: left;
        padding: 10px;
    }
    .table-data img {
        width: 100%;
        height: auto;
    }
}